faiss-cpu==1.13.2
Flask==3.0.3
gunicorn==22.0.0
langchain==0.0.353
langchain-community==0.0.20
langchain-core==0.1.23
langsmith==0.0.87
mistralai==0.4.2
sentence-transformers==2.7.0
pandas==2.2.2
pyarrow==17.0.0
requests==2.32.3
PyYAML==6.0.2
python-dotenv==1.0.1
pytest==8.3.3
requests-mock==1.12.1
